webservice/src/main/webapp/wsdl/xsd/service.oubl.vis.com.xsd

<!-- Generated by andromda-webservice cartridge (jaxws/jaxws-package-xsd.vsl) on 05/02/2016 12:25:44+0200 DO NOT EDIT! -->
    <xs:schema targetNamespace="http://service.oubl.vis.com/"
        attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
        xmlns:impl="http://service.oubl.vis.com/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <!-- com.vis.oubl.service.InventoryService.getAllItems -->
        <xs:element name="getAllItems">
            <xs:complexType/>
        </xs:element>
        <xs:element name="getAllItemsResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Object" type="xs:anyType">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- com.vis.oubl.service.InventoryService.getAllRFID -->
        <xs:element name="getAllRFID">
            <xs:complexType/>
        </xs:element>
        <xs:element name="getAllRFIDResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Object" type="xs:anyType">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:schema>
