webservice/src/main/webapp/wsdl/xsd/service.oubl.vis.com.xsd

<!-- Generated by andromda-webservice cartridge (jaxws/jaxws-package-xsd.vsl) on 03/19/2016 08:16:02+0200 DO NOT EDIT! -->
    <xs:schema targetNamespace="http://service.oubl.vis.com/"
        attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
        xmlns:impl="http://service.oubl.vis.com/"
        xmlns:ns1="http://vo.oubl.vis.com/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:import namespace="http://vo.oubl.vis.com/" xmlns="http://www.w3.org/2001/XMLSchema"
            schemaLocation="vo.oubl.vis.com.xsd"/>
        <!-- com.vis.oubl.service.SearchService.createCustomer -->
        <xs:element name="createCustomer">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="patient" type="ns1:My010CustomerVO" minOccurs="1">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="createCustomerResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Integer" type="xs:integer">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- com.vis.oubl.service.SearchService.customerSearch -->
        <xs:element name="customerSearch">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="id" type="xs:integer" minOccurs="1">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="customerSearchResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Object" type="xs:anyType">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- com.vis.oubl.service.SearchService.customersQuery -->
        <xs:element name="customersQuery">
            <xs:complexType/>
        </xs:element>
        <xs:element name="customersQueryResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Object" type="xs:anyType">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- com.vis.oubl.service.SearchService.deleteCustomer -->
        <xs:element name="deleteCustomer">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="id" type="xs:long" minOccurs="1">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="deleteCustomerResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Integer" type="xs:integer">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- com.vis.oubl.service.MedicalHistoryService.getCustomer -->
        <xs:element name="getCustomer">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="id" type="xs:long" minOccurs="1">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="getCustomerResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Object" type="xs:anyType">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- com.vis.oubl.service.MedicalHistoryService.getRedPlaneService -->
        <xs:element name="getRedPlaneService">
            <xs:complexType/>
        </xs:element>
        <xs:element name="getRedPlaneServiceResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Object" type="xs:anyType">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!-- com.vis.oubl.service.SearchService.updateCustomer -->
        <xs:element name="updateCustomer">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="patient" type="ns1:My010CustomerVO" minOccurs="1">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="updateCustomerResponse">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="_Integer" type="xs:integer">
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:schema>
