webservice/src/main/webapp/wsdl/ref/xsd/enumeration.oubl.vis.com.xsd.ref

<!-- Generated by andromda-webservice cartridge (jaxws/jaxws-package-xsd.vsl) on 03/19/2016 08:16:03+0200 DO NOT EDIT! -->
    <xs:schema targetNamespace="http://enumeration.oubl.vis.com/"
        attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
        xmlns:impl="http://enumeration.oubl.vis.com/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <!-- Service TypeMapping elements 3 types -->
        <xs:simpleType name="ReservationStatus">
            <xs:restriction base="xs:string">
                <xs:enumeration value="INQUE"/>
                <xs:enumeration value="FINISHED"/>
                <xs:enumeration value="PROCESSING"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="MedicalServiceType">
            <xs:restriction base="xs:string">
                <xs:enumeration value="XRAY"/>
                <xs:enumeration value="BLOODGULUCOSE"/>
                <xs:enumeration value="BLOODPRESSURE"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="PatientType">
            <xs:restriction base="xs:string">
                <xs:enumeration value="INSURANCE"/>
                <xs:enumeration value="NONINSURANCE"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:schema>
